<launch>
  <include file="$(find maxon_epos_example)/launch/example_maxon_epos.launch"/>
  <include file="$(find gemini_arm_moveit_config)/launch/demo.launch"/>
  <arg name="rqt" default="false"/>


  <group if="$(arg rqt)">
    <!-- Gui arm (Optional)-->
    <node name="rqt_joint_trajectory_controller" pkg="rqt_joint_trajectory_controller" type="rqt_joint_trajectory_controller"/>
  </group>



 </launch>
